.wrapper {
  padding-top: 50px;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  background-image: url("images/field-background-with-trees.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
