.title {
  text-align: center;
  margin-bottom: 20px;
  margin-left: -20px;
  padding-left: 20px;
   /* https://www.npmjs.com/package/pokemon-font */
   -webkit-font-smoothing: none;
   font-family: 'pokemon-font', monospace;
}


p, h2 {
  text-align: center;
  /* color: #2A77AE; */
  color: whitesmoke;
  font-weight: bolder;
  margin-bottom: 50px;
  align-items: center;
  /* https://www.npmjs.com/package/pokemon-font */
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace;
}


